:root {
  --dark-text: #333;
  --white-txt: #fff;
  --white-txt-200: #eee;
  --grey-txt-100: rgba(255, 255, 255, 0.4);
  --grey-txt-200: #888;
  --variant-txt: rgb(21, 21, 207);

  --bg-fixed: #111;
  --bg-main: #111;
  --bg-dark-variant: #181818;
  --bg-img-default: #babaf9;
  --bg-scrollbar: #161616;
  --bg-scrollthumb: #333;

  --btn-bg: #f9dce3;
  --icon-bg: crimson;
  --bg-variant: rgba(4, 4, 161, 0.938);

  --border-light: rgba(40, 40, 40, 0.3);
  --border-regular: rgba(62, 62, 62, 0.5);
}