@use '../../abstracts/' as *;
@use '../../helpers/HeaderTemplate.scss' as *;
@use '../../helpers/List.scss' as *;

.genres-list {
   @include header-template();

   @include list-container(200px);

   a.genre-card {
      width: 100%;
      text-align: center;
      background: linear-gradient(340deg, rgba(rgb(92, 92, 92), 0.5), transparent);
      display: grid;
      place-items: center;
      border-radius: $br-semi-thin;
      box-shadow: $bs-250;
      overflow: hidden;

      h3 {
         position: relative;
         background: rgba(black, 0.4);
         border-radius: $br-thin;
         padding: 1em;
         z-index: 1;
      }
   }
}

@media screen and (max-width: 380px) {
   .genres-list {

      .list-container {
         grid-template-columns: repeat(1, auto);
      }
   }
}