@use '../abstracts/' as *;

body {
  width: 100vw;
  overflow-x: hidden;
  background: url('/images/img-1.jpeg');
  background-color: rgba(black, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #090909;

  .wrapper-content {
    width: min(100%, 600px);
    height: 100%;
    margin: 0 auto;
    background: var(--bg-fixed);
    position: relative;
    overflow: hidden auto;

    .wrapper-body {
      width: 100%;
      min-height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    a,
    span {
      display: inline-block;
      text-decoration: none;
    }

    & :is(a, .icon, button) {
      cursor: pointer;
    }

    .truncate {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-shadow: $ts-100;
    }

    .error,
    .loading {
      position: relative;
      display: grid;
      min-height: 50vh;
      place-items: center;
      text-align: center;
    }

    @include playpause();



    overflow: hidden auto;
    /* For Firefox */
    scrollbar-width: none;
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: $pad-200;
      background: var(--bg-scrollbar);
      border-radius: 100vmax;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-scrollthumb);
      border-radius: 100vmax;
      border: 2px solid var(--bg-scrollbar)
    }

  }
}