@use '../../abstracts/' as *;
@use '../../components/SongCard' as *;

.discover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 350px);
  gap: $pad-400;

  @include song-card;
}