@use '../abstracts/' as *;
@use '../components/button.scss' as *;

@use '../utilities/music-content/TopRow.scss' as *;
@use '../utilities/music-content/Discover.scss' as *;
@use '../utilities/music-content/Trending.scss' as *;

main {
  padding: $pad-200 $pad-300 1em;
  position: relative;
  margin-bottom: var(--footer-height, 150px);

  >.error,
  >.loading,
  .music-content :is(.error, .loading) {
    min-height: 50vh !important;
  }

}